#line-chart {
    float:left;
}
#line-table {
    margin: 20px;
    float:left;
    width:25%;
}
.header-table {
    width: 20%;
}
.form-control {
    text-align: center;
}
.apply-button {
    margin-bottom: 10px;
}