/* AppComponent's private CSS styles */
.header-page {
  margin: 20px 0 0 20px;
}
h1 {
  color: rgb(56, 167, 231);
  margin-bottom: 5px;
  float: left;
}
.logout-icon {
  width: 50px;
  height: 50px;
  float: right;
}
nav a {
  width: 100px;
  text-transform: capitalize;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  color: black;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #232fa6;
}
.tab-content {
  margin-top: 20px;
}