<div id="line-table">
  <button class="apply-button" (click)="applyData()">Apply</button>
  <table class="w3-table-all">
    <tr>
      <th class="header-table"></th>
      <th class="header-table">Swimming</th>
      <th class="header-table">Running</th>
      <th class="header-table">Cycling</th>
      <th class="header-table">Goal</th>
    </tr>
    <tr *ngFor="let d of days">
      <th>{{d}}</th>
      <th><input id="{{d | lowercase}}-swimming" class="form-control" (keypress)="numberOnly($event)" (change)="updateData($event.target.id.split('-', 2),$event.target.value)" type="text" maxlength="3" value="0"/></th>
      <th><input id="{{d | lowercase}}-running" class="form-control" (keypress)="numberOnly($event)" (change)="updateData($event.target.id.split('-', 2),$event.target.value)" type="text" maxlength="3" value="0"/></th>
      <th><input id="{{d | lowercase}}-cycling" class="form-control" (keypress)="numberOnly($event)" (change)="updateData($event.target.id.split('-', 2),$event.target.value)" type="text" maxlength="3" value="0"/></th>
      <th><input id="{{d | lowercase}}-goal" class="form-control" (keypress)="numberOnly($event)" (change)="updateData($event.target.id.split('-', 2),$event.target.value)" type="text" maxlength="3" value="0"/></th>
    </tr>
  </table>
</div>